$primFont: 'Open-Sans', 'sans-serif';
$primBg: #263238;

* {
  font-family: $primFont;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.login-div {
  background: url(https://static.pexels.com/photos/2422/sky-earth-galaxy-universe.jpg) no-repeat center fixed; 
  display: flex;
  height: 100%;
  width: 100%;
}

.login-form {
  align-items: center;
  background-color: ghostwhite;
  display: inline-block;
  margin: auto;
  opacity: 0.95;
  padding: 25px;
  justify-content: center;
}

.login-title {
  font-size: 32px;
  text-align: center;
}

.login-field {
  margin: 0.3em;
}

.login-span {
  display: flex;
  flex-direction: row;
}

.login-btn {
  display: inline-block;
  margin: 0.5em;
}

.register-btn {
  display: inline-block;
  margin: 0.5em;
}

.country-selector-span {
  align-content: center;
  height: 4em;
}

.display {
  background: $primBg;
  border: 2px solid black;
  padding: 10px;
}

.nav {
  align-items: center;
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
 
.outer-div {
  display: grid;
}
    
.data-label {
  color: white;
  text-align: center;
}

.data-row {
  color: white;
}
